# The for loop

## Exercise
* Create a *list* which contains the values 1,2,4,7
* Print the list
* Use the *for loop* to print all values of this list

## Exercise
* Create a *list* which contains the values 8,2,5,2,4,7,9
* Use the while loop to calculate the sum of all values in this list

## Exercise
* Create a *list* which contains the values 8,2,5,2,4,7,9
* Use the *for loop* and two *if* conditions to calculate the minimum and maximum of all values in this list
* Tip: you'll need two variables for min and max and you need to initialize them..

##Exercise
* Creat an empty list called mylist
* Use a *while* loop and the *append* method to fill the list with values between 1 and 5
* Print the list
* Use a *for* loop to identify and print all values which are larger than 3 in this list

# Exercise
* Create this list: list1 = [12, 15, 32, 42, 55, 75, 122, 132, 150, 180, 200]
* Iterate (for loop) it and display all numbers which are divisible by 5 and if you find number greater than 150 stop the loop iteration

## Exercise
* Create an empty *list* called 'thelist'
* Use a *while* loop to add values ranging from 1 to 10 to the list. Use the *append* method
* Print the list

## Exercise
* Create a list containing at least 5 numbers
* print the list
* Use the *sort*, *count* and *revert* method on this list and print the output. What happens?
* Append two strings e.g. names of persons to the list 
* Print the list
* Use the *sort*, *count* and *revert* method on this list and print the output. What happens?

## Exercise
* You have the following list: [2,4,6,9,13,24,47]
* Iterate the list and multiply each value with 10
* Print the result of each multiplication
* Store the multiplied values in a new list
* Print the new list

## Exercise
* Create the following list: [[1,32,21,6,72,9,12],[2,45,34,23,12,6,24]]
* Use two nested loops to iterate through column and row
* print each value in the first as well as second loop
* Write some code which identifies the largest number in each row

## Exercise
* Use same nested list given in the exercise above
* multiply each value by 10
* Print the results
* Store the result in a new nested list

## Exercise
* You have a list which contains the following Fahrenheit temperature values: [12.2,14.7,17.5,19.5,22.3, 27.3, 31.2, 35.6, 38.8]
* Loop through this list and interrupt the execution of the code as soon as the temperature is above the freezing point of water (0 degree Celcius)-> °C = (°F - 32) / 1.8
* Print each calculated celsius value

## Exercise
* define a string variable and assign the string value e.g. 'Lorem ipsum dolor sit amet, consectetur adipisici elit' to it
* use the for loop to iterate the string and to print every character individually
* Run the loop again but replace every 'i' character by a 'x' before printing

## Exercise
* Use the *range* method to create a sequence which ranges from 0 to 20
* Use this sequence and a *for loop* to print the string 'Python rocks' (or any other string) 20 times
* Do the same thing using a *while* loop