# Lists

## Exercise
* Create a *list* which contains the values 1,2,4,7
* Print the list
* Print the second entry of the list
* Change the value of the second entry
* Print the list

## Exercise

*   create a *list* which contains four or five names of persons
* Print the list
* Delete the last entry of the list
* Print the list

## Exercise
* Create two *lists*: first containing 1,2,4,2,5,6 the second containing 2,4,5,7
* Print both lists
* Use the *append* method to add the second entry of the second list to the first list
* Print both lists
* Combine those lists by using the *extend* method
* Print both lists
* How often is the number 2 in the combined list?
* Print the length of the combined list
* Remove the value at the position (index) of value 6 in this list. 
* Print the list again
* Sort the list using the *sort* method and print the list

##Exercise
* Create a list which contains the values 1,2,3,4,5
* Print the list
* use the *insert* method to insert the value 6 after value 3 so it becomes 1,2,3,6,4,5

# Exercise - compare values<br>
Compare values of two first items in the lists created above. <br>
1. Check if 1st item is smaller than the 2nd one
2. Check if the 1st item greater than the 2nd one
3. Check if items are equal.

## Exercise
* Create an empty *list* called 'thelist'
* Use a *while* loop to add values ranging from 1 to 10 to the list. Use the *append* method
* Print the list

## Exercise
* Create a list containing at least 5 numbers
* print the list
* Use the *sort*, *count* and *revert* method on this list and print the output. What happens?
* Append two strings e.g. names of persons to the list 
* Print the list
* Use the *sort*, *count* and *revert* method on this list and print the output. What happens?

## Exercise
* Create string variable and assign a person's full name to it
* Use slicing to print only the first name
* use slicing to print only the last name

## Exercise
* Create a string variable and assing a date value to it e.g. 01-01-2020
* Use slicing to print the year only
* Variant: use input and let the user enter a date string
* Test if the string is a valid date (presence of '-' at position 2 and 5)
* Print the day, month and year using slicing

In [ ]:
## Exercise
* create a list which contains 20 values
* use slicing to extract values 5 to 15
* Print these values